html
    include _common
    body
        #fm
            .jumbotron
              h2 House Dashboard
              p #{street}, #{city}, #{state} #{zip}
              #two
                .imgContainer
                  h4 Map Location
                  #map
                .imgContainer
                  h4 Image
                  img.boxy(src="/media/#{imgref}")
              script.
                function initMap() {
                  var uluru = {lat: -25.363, lng: 131.044};
                  var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                  });
                  var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                  });
                }
            .panel.panel-default
                .panel-heading Jobs
                    table.table#job-table
                        tr#start
                            th Type
                            th ID Number
                            th Completed?
                            th Request
                            th Comments
                            th Image
                        each job, i in jobs
                            tr
                                td #{job.type}
                                td #{job.jid}
                                td #{job.completed}
                                td #{job.request_comment}
                                td #{job.completion_comment}
                                td #{job.img_ref}


                .button
                    a.glyphicon.glyphicon-plus(href='/cafa/int/new_job')
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh53x5vw5NPtjK4f57EMMzdT49y7AZp5k&callback=initMap").
        yphicon-plus(href='/cafa/int/new_job')

          script(src="https://code.jquery.com/jquery-3.1.1.min.js")
          script.
              $.ajax({
                  url: '/cafa/api/get_contracts',
                  success: function(res) {
                          $('H1').after('<h2>'+ res[0].street + '</h2>');
                      }
                  })
